<h1>Listing upgrades</h1>

<table>
  <tr>
    <th>Profile</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @upgrades.each do |upgrade| %>
  <tr>
    <td><%= upgrade.profile_id %></td>
    <td><%= upgrade.price %></td>
    <td><%= link_to 'Show', upgrade %></td>
    <td><%= link_to 'Edit', edit_upgrade_path(upgrade) %></td>
    <td><%= link_to 'Destroy', upgrade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upgrade', new_upgrade_path %>
